.lightcurve #dialog
  background: url("/images/sprites/css_sprites.png") no-repeat scroll 0 0 transparent
  height: 326px
  overflow: hidden
  position: absolute
  right: -66px
  top: -30px
  width: 311px
  z-index: 1

#dialog .step
  display: none

#dialog .step #help
  background-attachment: scroll
  background-color: transparent
  background-image: url("/images/sprites/css_sprites.png")
  background-position: -675px -219px
  background-repeat: no-repeat
  position: absolute
  left: 50%
  margin-left: -60px
  top: 30px
  color: #888888
  display: block
  font-size: 11px
  height: 17px
  line-height: 17px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  width: 55px

#dialog .step #restart
  background-attachment: scroll
  background-color: transparent
  background-image: url("/images/sprites/css_sprites.png")
  background-position: -675px -219px
  background-repeat: no-repeat
  position: absolute
  left: 50%
  margin-left: 5px
  top: 30px
  color: #888888
  display: block
  font-size: 11px
  height: 17px
  line-height: 17px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  width: 55px

#dialog .step #periodogram_button
  background-attachment: scroll
  background-color: transparent
  background-image: url("/images/sprites/periodogram_button.png")
  background-repeat: no-repeat
  position: absolute
  left: 35%
  margin-left: 5px
  top: 50px
  color: #888888
  display: block
  font-size: 11px
  height: 17px
  line-height: 17px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  width: 90px

#dialog .step .question
  color: #333333
  font-size: 21px
  margin: 100px auto 0
  text-align: center
  text-shadow: 0 1px 0 #FFFFFF
  width: 218px

#dialog .step .question.small
  font-size: 17px

#dialog .step .actions
  text-align: center

#dialog .short .step6 .actions
  width: 168px
  margin: 25px auto

#dialog .long .step1 .actions,
#dialog .long .step2 .actions,
#dialog .long .step3 .actions,
#dialog .long .step4 .actions
  margin: 25px auto

#dialog .step .actions .button
  background-attachment: scroll
  background-color: transparent
  background-image: url("/images/sprites/css_sprites.png")
  background-repeat: no-repeat
  display: inline-block
  position: relative
  margin: 0 -9px
  text-align: center
  color: #ffffff
  text-decoration: none
  text-transform: uppercase
  vertical-align: top

#dialog .step .actions .button.yes,
#dialog .step .actions .button.no,
#dialog .step .actions .button.discuss,
#dialog .step .actions .button.next,
#dialog .step .actions .button.done
  font-size: 17px
  height: 82px
  width: 82px
  line-height: 82px

#dialog .step .actions .button.discuss
  background-position: -312px 0
  text-shadow: 0 -1px 0 #669900

#dialog .step .actions .button.discuss:hover
  background-position: -312px -82px

#dialog .step .actions .button.discuss:active
  background-position: -312px -164px

#dialog .step .actions .button.done
  background-position: -312px 0
  text-shadow: 0 -1px 0 #669900

#dialog .step .actions .button.done:hover
  background-position: -312px -82px

#dialog .step .actions .button.done:active
  background-position: -312px -164px

#dialog .step .actions .button.next
  background-position: -394px 0
  text-shadow: 0 -1px 0 #AA4400

#dialog .step .actions .button.next:hover
  background-position: -394px -82px

#dialog .step .actions .button.next:active
  background-position: -394px -164px

#dialog .step .actions .button.yes
  background-position: -312px 0
  text-shadow: 0 -1px 0 #669900

#dialog .step .actions .button.yes:hover
  background-position: -312px -82px

#dialog .step .actions .button.yes:active
  background-position: -312px -164px

#dialog .step .actions .button.no
  background-position: -394px 0
  text-shadow: 0 -1px 0 #AA4400

#dialog .step .actions .button.no:hover
  background-position: -394px -82px

#dialog .step .actions .button.no:active
  background-position: -394px -164px

#dialog .step .actions .edit
  width: 270px
  display: inline-block
  vertical-align: top
  zoom: 1
  *display: inline
  margin: 0 auto

#dialog .step .actions .button.add
  font-size: 17px
  height: 40px
  width: 40px
  line-height: 40px

#dialog .step .actions .button.transit
  font-size: 14px
  height: 40px
  width: 40px
  line-height: 40px
  margin-right: 10px
  margin-top: 3px

#dialog .step .actions .button.add
  background-image: url("/images/sprites/add.png")
  text-shadow: 0 -1px 0 #0066AA
  margin-top: 3px
  color: white

#dialog .step .actions .button.add:hover
  background-image: url("/images/sprites/add_hover.png")

#dialog .step .actions .button.add:active
  background-image: url("/images/sprites/add_active.png")

#dialog .step .actions .button.transit
  background-image: url("/images/sprites/transit_small.png")
  color: #666666
  display: none

#dialog .step .actions .button.transit.focus
  background-image: url("/images/sprites/transit_selected_small.png")
  color: #0099CC

#dialog .step .actions .button.transit .delete
  background: url("/images/sprites/css_sprites.png") no-repeat scroll -568px -161px transparent
  height: 62px
  left: 50%
  margin-left: -25px
  position: absolute
  top: -40px
  width: 53px
  display: none

#dialog .step .actions .button.finish
  display: block
  margin: 0 auto
  font-size: 12px
  height: 82px
  width: 82px
  line-height: 82px
  background-position: -313px 0
  text-shadow: 0 -1px 0 #669900

#dialog .step .actions .button.finish:hover
  background-position: -313px -82px

#dialog .step .actions .button.finish:active
  background-position: -313px -164px

#dialog .long .actions .button .icon
  background-color: transparent
  background-image: url("/images/sprites/css_sprites.png")
  background-repeat: no-repeat
  background-attachment: scroll
  display: block

#dialog .long .actions .button .label
  display: none
  position: absolute
  top: 85px
  left: 50%
  margin-left: -50px
  width: 100px
  color: inherit
  font-family: Arial
  font-size: 12px
  font-weight: bold
  text-align: center
  text-decoration: none
  text-shadow: 0 1px 0 #FFFFFF

#dialog .long .actions .button:hover .label,
#dialog .long .actions .button:active .label
  display: block

#dialog .long .step2 .button.variable,
#dialog .long .step2 .button.quiet,
#dialog .long .step3 .button.regular,
#dialog .long .step3 .button.pulsating,
#dialog .long .step3 .button.irregular
  background-position: -312px 0
  color: #99CC00
  height: 82px
  width: 82px

#dialog .long .step2 .button.variable:hover,
#dialog .long .step2 .button.quiet:hover,
#dialog .long .step3 .button.regular:hover,
#dialog .long .step3 .button.pulsating:hover,
#dialog .long .step3 .button.irregular:hover
  background-position: -476px -82px
  color: #0099FF

#dialog .long .step2 .button.variable:active,
#dialog .long .step2 .button.quiet:active,
#dialog .long .step3 .button.regular:active,
#dialog .long .step3 .button.pulsating:active,
#dialog .long .step3 .button.irregular:active
  background-position: -476px -164px
  color: #0099FF

#dialog .long .step2 .actions .button.variable .icon
  background-position: -312px -246px
  height: 14px
  margin: 35px auto
  width: 34px

#dialog .long .step2 .actions .button.quiet .icon
  background-position: -347px -245px
  height: 6px
  margin: 35px auto
  width: 34px

#dialog .long .step2 .button.dont_know
  background-position: -396px 0
  color: #FF6600
  height: 82px
  width: 82px

#dialog .long .step2 .actions .button.dont_know .icon
  background-position: -382px -246px
  height: 15px
  margin: 35px auto
  width: 14px

#dialog .long .step2 .button.dont_know:hover
  background-position: -396px -82px

#dialog .long .step2 .button.dont_know:active
  background-position: -396px -164px

#dialog .long .step3 .actions .button.regular .icon
  background-image: url("/images/sprites/regular_curve.png")
  margin: 6px 6px
  height: 70px
  width: 70px

#dialog .long .step3 .actions .button.pulsating .icon
  background-image: url("/images/sprites/pulsating_curve.png")
  height: 70px
  margin: 6px 6px
  width: 70px

#dialog .long .step3 .actions .button.irregular .icon
  background-position: -427px -247px
  height: 20px
  margin: 32px auto
  width: 34px

.lightcurve #star_info
  font-size: 13px
  font-weight: lighter
  position: absolute
  right: 25px
  top: 300px
  width: 224px

#transits
  height: 440px
  left: 50px
  position: absolute
  overflow: hidden
  top: 5px
  width: 670px

#transits .transit
  border: 3px solid #FFCC00
  background-color: rgba(255,255,255,0.1)
  position: absolute
  z-index: 15

#transits .transit.focus
  border-color: #0099CC

#transits .transit .number
  background: url("/images/sprites/css_sprites.png") no-repeat scroll -312px -266px transparent
  display: none
  height: 20px
  left: -11px
  margin-top: -10px
  position: absolute
  text-align: center
  top: 50%
  width: 20px
  color: black
  line-height: 20px
  font-family: Tahoma
  font-size: 12px
  font-weight: bold

#transits .transit.focus .number
  background: url("/images/sprites/css_sprites.png") no-repeat scroll -332px -266px transparent

#transits .transit .resize_width,
#transits .transit .resize_height
  background: url("/images/sprites/css_sprites.png") no-repeat scroll -312px -266px transparent
  display: none
  position: absolute
  width: 20px
  height: 20px
  z-index: 20

#transits .transit .resize_width
  background-position: -372px -266px
  margin-top: -10px
  right: -12px
  top: 50%

#transits .transit .resize_height
  background-position: -352px -266px
  bottom: -11px
  left: 50%
  margin-left: -10px

#transits .transit.focus .resize_width,
#transits .transit.focus .resize_height
  display: block


