.dialog .step
  display: none

.dialog .workflow
  padding-top: 50px

.dialog .actions
  width: 168px
  margin: 0px auto
  text-align: center

.dialog .actions .edit
  width: 270px
  display: inline-block
  vertical-align: top
  zoom: 1
  *display: inline
  margin: 0 auto

.dialog .actions .button
  background-attachment: scroll
  background-color: transparent
  background-image: url("/images/sprites/css_sprites.png")
  background-repeat: no-repeat
  display: inline-block
  position: relative
  margin: 0 -9px
  text-align: center
  color: #ffffff
  text-decoration: none
  text-transform: uppercase
  vertical-align: top

.dialog .actions .button
  font-size: 17px
  height: 82px
  width: 82px
  line-height: 82px
  background-position: -312px 0
  text-shadow: 0 -1px 0 #669900

.dialog .actions .button:hover
  background-position: -312px -82px

.dialog .actions .button:active
  background-position: -312px -164px

.dialog .actions .button.red
  background-position: -394px 0
  text-shadow: 0 -1px 0 #AA4400

.dialog .actions .button.red:hover
  background-position: -394px -82px

.dialog .actions .button.red:active
  background-position: -394px -164px

.dialog .actions .button.add
  font-size: 17px
  height: 40px
  width: 40px
  line-height: 40px
  background-image: url("/images/sprites/add.png")
  text-shadow: 0 -1px 0 #0066AA
  margin-top: 3px
  color: white
  
.dialog .actions .button.add:hover
  background-image: url("/images/sprites/add_hover.png")

.dialog .actions .button.add:active
  background-image: url("/images/sprites/add_active.png")  

.dialog .actions .button.transit
  font-size: 14px
  height: 40px
  width: 40px
  line-height: 40px
  margin-right: 10px
  margin-top: 3px
  background-image: url("/images/sprites/transit_small.png")
  color: #666666
  display: none

.dialog .actions .button.transit.focus
  background-image: url("/images/sprites/transit_selected_small.png")
  color: #0099CC

.dialog .actions .button.transit .delete
  background: url("/images/sprites/css_sprites.png") no-repeat scroll -568px -161px transparent
  height: 62px
  left: 50%
  margin-left: -25px
  position: absolute
  top: -40px
  width: 53px
  display: none


