@font-face
  font-family TitilliumText14L600wt
  src url(/fonts/titilliumtext600wt-webfont.eot)
  src local('☺'), url(/fonts/titilliumtext600wt-webfont.woff) format(woff), url(/fonts/titilliumtext600wt-webfont.ttf) format(truetype), url(/fonts/titilliumtext600wt-webfont.svg#webfontChPKLcSQ) format(svg);
  font-weight normal
  font-style normal

