@import './mixin'
@import 'fonts'

// @import 'floor_splash' // Laggy butt hole on non-webkit

@import 'reset'

@import 'application'
// @import 'carrousel'
@import 'dialog'
@import 'payment'

@import 'tutorial'
@import 'classify'
@import 'sources'

@import 'viewer'
@import 'lightcurve'
@import 'exitsurvey'

.stack > *:not(.active)
  display: none !important



