.payment
  position: relative
  top: 20px
  display: inline-block
  height: 75px
  width: 500px
  background-color:rgba(0,0,0,0.5)
  
.payment img
  margin: 10px
  float: left

.payment p
  margin: 10px auto
  width: 400px
  float: left  
  text-align: center
  
.payment strong
  font-weight: bold
  color: red
