.payment
  position: relative
  // top: 20px
  display: block
  height: 75px
  width: 640px
  background-color:rgba(0,0,0,0.5)
  margin: 20px auto 0px
  
.payment img
  margin: 10px
  float: left

.payment p
  margin: 5px auto 0px
  width: 500px
  float: left  
  text-align: center
  
.payment strong
  font-weight: bold
  color: red
