div.candidate div.star_info.small
  margin: 0px ! important

div.candidate, div.candidate
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  background-color: rgba(0, 0, 0, 0.6)
  position: relativeg
  margin: 120px 0 0 0
  padding: 10px

div.candidate
  margin: 20px 0 0 0

div.candidate:hover
  background-color: rgba(0, 0, 0, 0.8)

div.candidate div.favorited
  background: transparent url("/images/sprites/css_sprites.png") no-repeat scroll -784px -337px
  position: absolute
  right: -3px
  top: -3px
  width: 54px
  height: 53px

div.candidate img.star_image
  margin: 0 30px
  vertical-align: middle

div.candidate div.star_info, div.candidate div.star_info
  display: inline-block
  vertical-align: middle
  zoom: 1
  *display: inline
  margin: 40px 0
  width: 650px

div.candidate div.heading
  display: inline-block
  vertical-align: middle
  zoom: 1
  *display: inline
  margin: 20px 30px
  width: 900px

div.candidate div.star_info .name, div.candidate div.star_info .name, div.star div.heading .name
  font-family: TitilliumText14L600wt
  color: #FFFFFF
  font-size: 25px

666
div.candidate div.heading p.text a
  opacity: 1

div.candidate div.star_info .text
  font-family: Arial
  color: white
  font-size: 15px
  margin: 10px 0 0 0
  line-height: 1.3em
  opacity: .6

div.candidate div.heading .text
  font-family: Arial
  color: #666
  font-size: 15px
  margin: 10px 0 0 0
  line-height: 1.3em

div.candidate div.star_info ul
  margin: 10px 0 0 0

div.candidate div.star_info ul li
  display: inline

div.candidate div.star_info ul li.separator
  border-right: 1px solid #666666
  font-size: 11px
  margin: 0 12px 0 10px

div.candidate div.star_info ul li.last

div.candidate div.star_info ul li div
  display: inline-block
  vertical-align: middle
  zoom: 1
  *display: inline

div.candidate div.star_info ul li div.icon
  background-color: transparent
  background-image: url("/images/sprites/css_sprites.png")
  background-repeat: no-repeat
  background-attachment: scroll

div.candidate div.star_info ul li div.icon.add_to_fav
  background-position: -1px -327px
  width: 13px
  height: 12px

div.candidate div.star_info ul li div.icon.added_to_fav
  background-position: -1px -351px
  width: 13px
  height: 12px

div.candidate div.star_info ul li div.icon.goto_link
  background-position: -2px -341px
  width: 12px
  height: 8px
  margin: -5px 0 0

div.candidate div.star_info ul li a
  font-family: TitilliumText14L600wt
  color: #FFFFFF
  font-size: 0.689em
  text-decoration: none
  vertical-align: middle

div.candidate a.button
  display: inline-block
  vertical-align: middle
  zoom: 1
  *display: inline
  background-image: url("/images/sprites/green_rounded_button.png")
  background-repeat: no-repeat
  color: #FFFFFF
  font-family: TitilliumText14L600wt
  font-size: 0.814em
  font-weight: bold
  height: 90px
  text-decoration: none
  text-shadow: 0 -1px 1px #6F9500
  width: 90px

div.candidate a.button span
  display: inline-block
  vertical-align: middle
  zoom: 1
  *display: inline
  width: 50px
  margin: 32px 30px

div.candidate div.button_container a:hover
  background-position: 0 -93px

div.star_graphic
  position: relative
  width: 960px
  margin: 70px 0 0 0

div.star_graphic div.header
  width: 960px

div.star_graphic div.header p
  width: 420px
  display: -moz-inline-stack
  vertical-align: top
  zoom: 1
  *display: inline
  font: normal 13px Aller
  color: #999999

div.star_graphic div.header p.right
  text-align: right
  width: 425px
  display: -moz-inline-stack
  vertical-align: top
  zoom: 1
  *display: inline

div.star_graphic div.header p.right a
  width: auto
  padding: 0 12px 0 0
  font: normal 12px TitilliumText14L600wt
  color: #0099CC
  text-decoration: none
  background: url('/images/sprites/icons/down_blue.png') no-repeat right 5px

div.star_graphic div.header p.right a:hover
  text-decoration: underline

div.star_graphic img
  margin: 30px 0 0 -47px

div.star_graphic p.bottom_caption
  width: 960px
  margin: 15px 0 0 0
  text-align: center
  font: normal 13px Aller
  color: #434343

.lightcurve
  display: inline-block
  vertical-align: top
  zoom: 1
  *display: inline
  width: 960px
  height: 483px
  position: relative
  margin: 20px 0 0
  padding-top: 40px

.lightcurve .star_name
  font-family: 'Myriad Pro', Arial
  font-weight: lighter
  color: #999999
  top: -25px
  left: 300px
  position: absolute

.graph_background
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  background-color: rgba(0, 0, 0, .6)
  position: absolute
  top: 4px
  width: 960px
  height: 521px

.lightcurve .days_from
  font-family: 'Myriad Pro', Arial
  font-size: 13px
  font-weight: lighter
  color: #999999
  text-transform: uppercase
  position: absolute
  top: 470px
  left: 230px

.spinner
  margin-left: 350px
  margin-top: 195px
  z-index: 100
  position: relative

.lightcurve #star_info
  font-size: 13px
  font-weight: lighter
  position: absolute
  right: 10px
  top: 320px
  width: 214px

#star_info .name
  font-size: 17px

#star_info ul
  overflow: hidden
  line-height: 1.5
  margin: 10px 0

#star_info ul, .more_info
  font-family: Arial

#star_info ul .label
  color: #535353
  float: left
  clear: left

#star_info ul .value
  float: right

#star_info .more_info
  color: white

#starmap
  position: absolute !important
  right: 0px
  top: 10px
  width: 230px
  height: 280px
  z-index: 10000

.download_link a
  color: white
  font-size: 11px
  font-weight: lighter
  text-transform: uppercase
  text-decoration: none
  margin-top: 2px

.download
  display: inline-block
  background: url("/images/sprites/css_sprites.png") no-repeat scroll -14px -329px transparent
  height: 9px
  margin: 0 6px 0 1px
  vertical-align: middle
  width: 9px

.download_candidates
  float: right
  color: #666666
  font-family: Arial
  font-size: 12px
  text-transform: uppercase
  margin-top: -10px

.download_archived_candidates  a
  color: #0099cc
  text-decoration: none

.download_archived_candidates
  float: right
  color: #666666
  font-family: Arial
  font-size: 12px
  text-transform: uppercase
  margin-top: -10px
  margin-left: 4px
  text-decoration: underline

.old_release
  display: none
  padding: 10px
  float: right

.download_archived_candidates:hover .old_release
  display: block

.star_detials
  margin-top: -20px
  float: right
  font-size: 12pt
  opacity: 0.6

div.info_header
  position: relative
  margin: 140px auto 0
  padding: 37px
  padding-bottom: 20px
  background: url('/images/sprites/header_faq_bkg.jpg') repeat-x 0 bottom white
  overflow: hidden

div.info_header p.subtitle
  font: normal 23px TitilliumText14L600wt
  color: #B0B0B0

div.info_header h1
  font: normal 33px TitilliumText14L600wt
  color: #333333
  line-height: 29px

div.info_header div
  float: left
  width: 280px
  padding: 40px 0 0 0

div.info_header.wide div.general
  float: left
  width: 900px
  padding: 40px 0 0 0

div.info_header.wide div
  float: left
  width: 410px
  padding: 40px 0 0 0

div.info_header div h2
  margin: 0
  padding: 0
  color: #333333

div.info_header div ul
  margin: 10px 0 0
  width: 280px
  list-style: disc
  color: #999999

div.info_header.wide div ul
  margin: 10px 0 0
  width: 800px
  list-style: disc
  color: #999999

div.info_header div ul li
  width: 260px
  padding: 3px 0
  margin: 0 0 0 20px

div.info_header.wide div ul li
  width: 360px
  padding: 3px 0
  margin: 0 0 0 20px
  float: left

div.info_header div ul li a
  font: normal 15px Arial
  color: #0099CC
  text-decoration: none

div.info_header div ul li a:hover
  text-decoration: underline

div.info_header .main
  font: normal 15px TitilliumText14L600wt
  color: #333333

p.selection
  margin-top: 170px
  color: #666666
  font-family: Arial
  font-size: 12px
  text-transform: uppercase

p.selection a
  margin: 0 2px
  color: black
  text-decoration: none

p.selection a.type_selected
  color: #0099cc
  font-weight: normal

#discovery_info
  width: 950px
  background-color: rgba(0, 0, 0, .6)
  text-align: center
  padding-top: 5px
  margin-top: 10px
  color: white
  vertical-align: middle
  height: 25px

#quarter_select
  text: white
  position: absolute
  z-index: 100000
  padding-left: 10px
  top: 14px

#quarter_select li
  float: left
  margin-bottom: 200px
  padding-left: 10px

#quarter_select li a
  color: white
  text-decoration: none

#quarter_select li a.selected
  color: #09C

#quarter_select li a:hover
  float: left
  text-decoration: underline

.candidate_toggle
  cursor: hand
  margin-top: 5px

.contributors
  font-family: Arial
  color: white
  font-size: 15px
  margin: 10px 0 0 0
  line-height: 1.3em
  opacity: .6

.comment
  font-family: Arial
  color: white
  font-size: 15px
  margin: 10px 0 0 0
  line-height: 1.3em
  opacity: .6

div.candidate div.favorited
  background: transparent url("/images/sprites/favorited.png") no-repeat
  position: absolute
  right: -3px
  top: -3px
  width: 54px
  height: 53px

div.candidate div.planet
  background: transparent url("/images/sprites/planet.png") no-repeat
  position: absolute
  right: -3px
  top: -3px
  width: 54px
  height: 53px

div.candidate div.eb
  background: transparent url("/images/sprites/eb.png") no-repeat
  position: absolute
  right: -3px
  top: -3px
  width: 54px
  height: 53px

ul#order_bar li a.order
  margin-top: 170px
  color: black
  font-family: Arial
  font-size: 12px
  text-transform: uppercase
  text-decoration: none

ul#order_bar li a.order.selected
  color: #0099cc
  font-weight: normal

ul#order_bar
  color: #666666
  margin-top: 20px
  line-height: 28px
  font-size: 12px
  text-transform: uppercase

ul#order_bar li
  float: left
  margin-right: 10px

#search_box
  float: right
  color: #666666
  font-size: 12px
  text-transform: uppercase

.pagination
  margin-top: 10px
  margin-bottom: 10px

.pagination a
  color: white

.pagination em
  color: #09C
  font-style: normal

#stars
  width: auto
  height: auto

div.star
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  background-color: rgba(0, 0, 0, 0.6)
  position: relative
  margin: 20px 0 0 0
  padding: 10px

div.star:hover
  background-color: rgba(0, 0, 0, 0.8)

div.star div.favorited
  background: transparent url("/images/sprites/favorited.png") no-repeat
  position: absolute
  right: -3px
  top: -3px
  width: 54px
  height: 53px

div.star div.planet
  background: transparent url("/images/sprites/planet.png") no-repeat
  position: absolute
  right: -3px
  top: -3px
  width: 54px
  height: 53px

div.star div.eb
  background: transparent url("/images/sprites/eb.png") no-repeat
  position: absolute
  right: -3px
  top: -3px
  width: 54px
  height: 53px

div.star img.star_image
  margin: 0 30px
  vertical-align: middle

div.star div.star_info
  display: inline-block
  vertical-align: middle
  zoom: 1
  *display: inline
  margin: 40px 0
  width: 650px

div.star div.star_info .name
  font-family: TitilliumText14L600wt
  color: #FFFFFF
  font-size: 25px

div.star div.star_info .text
  font-family: Arial
  color: white
  font-size: 15px
  margin: 10px 0 0 0
  line-height: 1.3em
  opacity: .6

.more_contributors:hover
  opacity: 1
  color: white
  cursor: pointer

div.star div.star_info ul
  margin: 10px 0 0 0

div.star div.star_info ul li
  display: inline

div.star div.star_info ul li.separator
  border-right: 1px solid #666666
  font-size: 11px
  margin: 0 12px 0 10px

div.star div.star_info ul li.last

div.star div.star_info ul li div
  display: inline-block
  vertical-align: middle
  zoom: 1
  *display: inline

div.star div.star_info ul li div.icon
  background-color: transparent
  background-image: url("/images/sprites/css_sprites.png")
  background-repeat: no-repeat
  background-attachment: scroll

div.star div.star_info ul li div.icon.add_to_fav
  background-position: -1px -327px
  width: 13px
  height: 12px

div.star div.star_info ul li div.icon.added_to_fav
  background-position: -1px -351px
  width: 13px
  height: 12px

div.star div.star_info ul li div.icon.goto_link
  background-position: -2px -341px
  width: 12px
  height: 8px
  margin: -5px 0 0

div.star div.star_info ul li a
  font-family: TitilliumText14L600wt
  color: #FFFFFF
  font-size: 0.689em
  text-decoration: none
  vertical-align: middle

div.star a.button
  display: inline-block
  vertical-align: middle
  zoom: 1
  *display: inline
  background-image: url("/images/sprites/buttons/green_rounded_button.png")
  background-repeat: no-repeat
  color: #FFFFFF
  font-family: TitilliumText14L600wt
  font-size: 0.814em
  font-weight: bold
  height: 90px
  text-decoration: none
  text-shadow: 0 -1px 1px #6F9500
  width: 90px

div.star a.button span
  display: inline-block
  vertical-align: middle
  zoom: 1
  *display: inline
  width: 50px
  margin: 32px 30px

div.star div.button_container a:hover
  background-position: 0 -93px

div#head
  margin-top: 100px

.see_more
  opacity: 1
  color: #93C400
  cursor: pointer

.remaining_contributors
  display: none

.explination
  padding-top: 10px
  padding-bottom: 10px

