top-padding = 5px
left-margin = 50px

.overlay
  fill: none
  pointer-events: all

.lightcurve #graph
  // display: inline-block
  // Absolute elements inside will be positioned properly
  position: relative

// SVG and Canvas will be overlaid on each other
.lightcurve #graph svg
  z-index: 1
  position: absolute
  top: 0px
  left: 0px

.lightcurve #graph canvas
  z-index: 0
  position: absolute
  top: top-padding
  left: left-margin

.chart-annotations .transit-temp rect
  fill: #FFFFFF
  opacity: 0.4
  
transit-p1-color = #0099CC
transit-solid-opacity = 0.9

.chart-annotations .transit .transit-rect
  cursor: move
  stroke: transit-p1-color // To be replaced with per-player colors
  stroke-width: 3
  stroke-opacity: transit-solid-opacity
  fill: #FFFFFF
  fill-opacity: 0.1

.chart-annotations .transit .transit-center
  fill: transit-p1-color
  fill-opacity: transit-solid-opacity

.chart-annotations .transit .transit-label
  stroke: transit-p1-color // To be replaced with per-player colors
  stroke-width: 3
  fill: #FFFFFF
  opacity: transit-solid-opacity

.chart-annotations .transit .transit-text
  font: 14px sans-serif
  dominant-baseline: central

.chart-annotations .transit .n-resize
.chart-annotations .transit .s-resize
.chart-annotations .transit .e-resize
.chart-annotations .transit .w-resize
.chart-annotations .transit .ne-resize
.chart-annotations .transit .sw-resize
.chart-annotations .transit .nw-resize
.chart-annotations .transit .se-resize
  fill: transparent
  stroke: none

.chart-annotations .transit .n-resize
.chart-annotations .transit .s-resize
  cursor: ns-resize
.chart-annotations .transit .e-resize
.chart-annotations .transit .w-resize
  cursor: ew-resize
.chart-annotations .transit .ne-resize
  cursor: ne-resize
.chart-annotations .transit .sw-resize
  cursor: sw-resize
.chart-annotations .transit .nw-resize
  cursor: nw-resize
.chart-annotations .transit .se-resize
  cursor: se-resize

#graph .chart-xaxis line
#graph .chart-yaxis line
  stroke: #444444
  stroke-dasharray: 1,4

#graph .chart-xaxis text
#graph .chart-yaxis text
  fill: #616161
  font-size: 10px

#graph .context path
  fill: none
  stroke: #EEEEEE
  stroke-width: 0.5

#graph .context .context-shaded
  fill: #FFFFFF
  opacity: .5

#graph .context .context-drag
  cursor: move
  fill: #FFFFFF
  opacity: .1

#graph .context .context-dragdot
  cursor: ew-resize
  stroke: #000000
  stroke-width: 1
  fill: #FFFFFF

#graph .context-xaxis line
  stroke: #FFFFFF
  stroke-width: 0.5
  
#graph .context-xaxis text
  fill: #616161
  font-size: 12px
  // font-family: Myriad Pro

#yZoom_help
  position: absolute
  color: white
  font-size: 12pt
  top: 45px
  left: 50px
  z-index: 15
  display: none

#xZoom_help
  position: absolute
  color: white
  font-size: 12pt
  top: 470px
  left: 240px
  z-index: 15
  display: none

#drag_help
  position: absolute
  color: white
  font-size: 12pt
  top: 40px
  left: 220px
  z-index: 15
  display: none

#zoom
  position: absolute
  top: 50px
  left: 15px
  z-index: 10

#zoom a
  display: block
  width: 22px
  height: 22px
  background-image: url("/images/sprites/css_sprites.png")
  background-color: transparent
  background-repeat: no-repeat
  margin: 0 0 10px

#zoom a.more
  background-position: -629px -219px

#zoom a.more:hover
  background-position: -651px -219px

#zoom a.less
  background-position: -629px -241px

#zoom a.less:hover
  background-position: -651px -241px
  
